name: build
on:
  pull_request: {}
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v7.0
      - uses: coursier/setup-action@v2.0
        with:
          jvm: 8
          apps: sbt
      - run: sbt publishLocal
