name: publish
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: git fetch --prune origin main
      - uses: coursier/cache-action@v7.0
      - uses: coursier/setup-action@v2.0
        with:
          jvm: 8
          apps: "sbt"
      - run: .github/scripts/gpg-setup.sh
        env:
          PGP_SECRET: ${{ secrets.PUBLISH_SECRET_KEY }}
      - name: Publish
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PUBLISH_SECRET_KEY_PASSWORD }}
          PGP_SECRET: ${{ secrets.PUBLISH_SECRET_KEY }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      - run: cs launch scala-cli:1.0.0-RC1 --main-class scala.cli.ScalaCli --jvm 17 -- .github/scripts/generate-readme.sc
      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
          file_pattern: README.md
          commit_message: Update README.md
          branch: main
          commit_author: Github Actions <actions@github.com>
